#!/bin/bash 

# install system deps
{{  if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "debian" }}
sudo apt update -y && sudo apt install -y gawk unzip
{{   else if eq .chezmoi.osRelease.id "fedora" }}
sudo dnf sync && sudo dnf install -y gawk unzip
{{   end }}
{{ end }}

# install ble.sh
git clone --recursive --depth 1 --shallow-submodules https://github.com/akinomyoga/ble.sh.git
make -C ble.sh install PREFIX=~/.local

# install atuin
curl --proto '=https' --tlsv1.2 -LsSf https://github.com/atuinsh/atuin/releases/latest/download/atuin-installer.sh | sh

# install tpm
git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm

# install eza
wget -c https://github.com/eza-community/eza/releases/latest/download/eza_x86_64-unknown-linux-gnu.tar.gz -O - | tar xz
mkdir -p ~/.local/bin
mv eza ~/.local/bin/eza

# install zoxide
curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh

# install bun
SHELL=none curl -fsSL https://bun.sh/install | bash
